# dependencies
/node_modules

# next build
/.next/
/out/

# production
/build

# env files (IMPORTANT)
.env
.env.local
.env.development
.env.production
.env.test

# vercel
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# editor
.vscode/
.idea/

# typescript
*.tsbuildinfo

# temporary files
*.log
tmp/
temp/

# next images cache
.next/cache

# test
coverage/

# supabase local
.supabase/

# stripe local
.stripe/

# misc
*.pem